@model IEnumerable<RegistroCandidatos.Models.Candidato>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h3 class="text-verdeReservas">CANDIDATOS BANRESERVAS</h3>
<hr />

<p>
    <a asp-action="Create" class="text-uppercase btn btn-verdeReservas"><i class="fa-solid fa-user-plus me-2"></i>Añadir Nuevo</a>
</p>

<br />
<br />



<div class="row">

    <table id="tbCandidatos" class="table table-striped  w-100 border">
        <thead>
            <tr class="text-verdeReservas">
                
                <th class="text-verdeReservas">NOMBRES</th>
                <th class="text-verdeReservas">APELLIDOS</th>
                <th class="text-verdeReservas">CEDULA</th>
                <th class="text-verdeReservas">GENERO</th>
                <th class="text-verdeReservas">FECHA DE NACIMIENTO</th>
                <th class="text-verdeReservas">TRABAJO ACTUAL</th>
                <th class="text-verdeReservas">EXPECTATIVA SALARIAL</th>
                <th class="text-verdeReservas"></th>



            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>


@section Scripts{



    <script>
        $(document).ready(function () {


            //$('#tbTutores').on('click', 'tbody tr', function () {
            //    var row = table.row($(this)).data();
            //    var identificador = row.tutor_Id;
            //    //console.log(row);   //full row of array data
            //    //console.log(identificador);   //EmployeeId
            //    window.open(`/Tutores/Details/${identificador}`,'_self');
            //});

            $('#tbCandidatos tbody').on('click', '[id*=btnEditar]', function () {
                var row = table.row($(this).parents('tr')).data();
                var identificador = row.candidato_Id;
                console.log(identificador);
                window.open(`/Candidatos/Edit/${identificador}`, '_self');
            });

            $('#tbCandidatos tbody').on('click', '[id*=btnDetalle]', function () {
                var row = table.row($(this).parents('tr')).data();
                var identificador = row.candidato_Id;
                console.log(identificador);
                window.open(`/Candidatos/Details/${identificador}`, '_self');
            });

            $('#tbCandidatos tbody').on('click', '[id*=btnEliminar]', function () {
                var row = table.row($(this).parents('tr')).data();
                var identificador = row.candidato_Id;
                console.log(identificador);
                window.open(`/Candidatos/Delete/${identificador}`, '_self');
            });

            var table = $("#tbCandidatos").DataTable({

                language: {
                    paginate: {
                        next: 'Siguiente', // or '→'
                        previous: 'Anterior' // or '←'
                    },
                    search: "Buscar:",
                    "lengthMenu": "Mostrando _MENU_ registros por pagina",
                    "info": "Mostrando Pagina _PAGE_ de _PAGES_",
                },

                "ajax": {
                    "url": "@Url.Action("Applicant","Candidatos")",
                    "type": "POST",
                    "datatype": "json"

                },
                "processing": false,
                "serverSide": true,
                "searching": true,
                "filter": true,
                


                "columns": [
                    
                    { "data": "nombres", name: "nombres" },
                    { "data": "apellidos", name: "apellidos" },
                    { "data": "cedula", name: "cedula" },
                    { "data": "genero", name: "genero" },
                    { "data": "fechaDeNacimiento", name: "fechaDeNacimiento","width":"17%" },
                    { "data": "trabajoActual", name: "trabajoActual" },
                    { "data": "expectativaSalarial", name: "expectativaSalarial"},
                    {
                        "data": null, title: 'ACCIONES', "width": "16%",
                        "render": function () { return '<div class=""><i  class="fa-solid fa-pen-to-square btn btn-verdeReservas me-2" id="btnEditar"></i><i  class="fa-solid fa-file-lines btn btn-verdeReservas me-2" id="btnDetalle"></i><i class="fa-solid fa-trash btn btn-danger" id="btnEliminar"></i></div>' }
                    },

                ]

                   
                    

            });






        });


    </script>

}

