@model IEnumerable<RegistroCandidatos.Models.Candidato>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h3 class="text-verdeReservas">CANDIDATOS BANRESERVAS</h3>
<hr />

<p>
    <a asp-action="Create" class="text-uppercase btn btn-VerdeReservas"><i class="fa-solid fa-user-plus me-2"></i>Añadir Nuevo</a>
</p>

<br />
<br />



<div class="row">

    <table id="tbCandidatos" class="table table-striped  w-100 border">
        <thead>
            <tr class="text-azulmapre">
                <th>#ID</th>
                <th>NOMBRES</th>
                <th>APELLIDOS</th>
                <th>CEDULA</th>
                <th>GENERO</th>
                <th>FECHA DE NACIMIENTO</th>
                <th>TRABAJO ACTUAL</th>
                <th>EXPECTATIVA SALARIAL</th>
                <th></th>



            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>


@section Scripts{



    <script>
        $(document).ready(function () {


            //$('#tbTutores').on('click', 'tbody tr', function () {
            //    var row = table.row($(this)).data();
            //    var identificador = row.tutor_Id;
            //    //console.log(row);   //full row of array data
            //    //console.log(identificador);   //EmployeeId
            //    window.open(`/Tutores/Details/${identificador}`,'_self');
            //});

            $('#tbCandidatos tbody').on('click', '[id*=btnEditar]', function () {
                var row = table.row($(this).parents('tr')).data();
                var identificador = row.tutor_Id;
                console.log(identificador);
                window.open(`/Tutores/Edit/${identificador}`, '_self');
            });

            var table = $("#tbCandidatos").DataTable({

                language: {
                    paginate: {
                        next: 'Siguiente', // or '→'
                        previous: 'Anterior' // or '←'
                    },
                    search: "Buscar:",
                },

                "ajax": {
                    "url": "@Url.Action("Applicant","Candidatos")",
                    "type": "POST",
                    "datatype": "json"

                },
                "processing": false,
                "serverSide": true,
                "searching": true,
                "filter": true,


                "columns": [
                    { "data": "candidato_Id", name: "candidato_Id" },
                    { "data": "nombres", name: "nombres" },
                    { "data": "apellidos", name: "apellidos" },
                    { "data": "cedula", name: "cedula" },
                    { "data": "genero", name: "genero" },
                    { "data": "fechaDeNacimiento", name: "fechaDeNacimiento" },
                    { "data": "trabajoActual", name: "trabajoActual" },
                    { "data": "expectativaSalarial", name: "expectativaSalarial" },
                    {
                        "data": null, title: 'ACCIONES',
                        "render": function () { return '<div class=""><i  class="fa-solid fa-pen-to-square btn btn-azulmapre me-2" id="btnEditar"></i><i class="fa-solid fa-trash btn btn-azulmapre" id="btnEliminar"></i></div>' }
                    },

                ]





            });






        });


    </script>

}

