USE [master]
GO
/****** Object:  Database [RegistroCandidatos]    Script Date: 14/11/2022 10:07:57 p. m. ******/
CREATE DATABASE [RegistroCandidatos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RegistroCandidatos', FILENAME = N'C:\Users\GuerreroRD\RegistroCandidatos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RegistroCandidatos_log', FILENAME = N'C:\Users\GuerreroRD\RegistroCandidatos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RegistroCandidatos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RegistroCandidatos]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 14/11/2022 10:07:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Candidato]    Script Date: 14/11/2022 10:07:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Candidato](
	[ID_Candidato] [int] IDENTITY(1,1) NOT NULL,
	[Cedula] [nvarchar](450) NOT NULL,
	[Nombres] [nvarchar](max) NOT NULL,
	[Apellidos] [nvarchar](max) NOT NULL,
	[FechaDeNacimiento] [datetime2](7) NOT NULL,
	[TrabajoActual] [nvarchar](max) NULL,
	[ExpectativaSalarial] [nvarchar](max) NULL,
	[Genero] [int] NOT NULL,
 CONSTRAINT [PK_Candidato] PRIMARY KEY CLUSTERED 
(
	[ID_Candidato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Candidato_Cedula]    Script Date: 14/11/2022 10:07:57 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Candidato_Cedula] ON [dbo].[Candidato]
(
	[Cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Candidato] ADD  DEFAULT ((0)) FOR [Genero]
GO
USE [master]
GO
